img {
    position:absolute;
    top:2%;
    right:15%;
    background-color: rgb(235, 231, 220);
    box-shadow: 0 0 15px 4px #888888;
}

@media (max-width: 768px) {
    img {
        display: none;
    }
}

@media (max-width: 992px) {
    img {
        position:absolute;
        top:2%;
        right:15%;
        background-color: rgb(235, 231, 220);
        box-shadow: 0 0 15px 4px #888888;
    }
}